/* Search Field Style: */
#search-field {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
}

#search-btn {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
}